In [167]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "C:/Users/bvkka/Desktop/states_all.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

df.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,79117.0,30847.0,112335.0,NaN,NaN,NaN,258.859712
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,3286034.0,1372011.0,4717112.0,208.398961,260.892247,196.764414,NaN

In [168]:

df.columns

Index(['PRIMARY_KEY', 'STATE', 'YEAR', 'ENROLL', 'TOTAL_REVENUE',
       'FEDERAL_REVENUE', 'STATE_REVENUE', 'LOCAL_REVENUE',
       'TOTAL_EXPENDITURE', 'INSTRUCTION_EXPENDITURE',
       'SUPPORT_SERVICES_EXPENDITURE', 'OTHER_EXPENDITURE',
       'CAPITAL_OUTLAY_EXPENDITURE', 'GRADES_PK_G', 'GRADES_KG_G',
       'GRADES_4_G', 'GRADES_8_G', 'GRADES_12_G', 'GRADES_1_8_G',
       'GRADES_9_12_G', 'GRADES_ALL_G', 'AVG_MATH_4_SCORE', 'AVG_MATH_8_SCORE',
       'AVG_READING_4_SCORE', 'AVG_READING_8_SCORE'],
      dtype='object')

In [169]:
df[['PRIMARY_KEY', 'STATE', 'YEAR','TOTAL_EXPENDITURE','GRADES_PK_G', 'GRADES_KG_G','GRADES_4_G', 'GRADES_8_G', 'GRADES_12_G', 'GRADES_1_8_G','GRADES_9_12_G']].head(5)

,PRIMARY_KEY,STATE,YEAR,TOTAL_EXPENDITURE,GRADES_PK_G,GRADES_KG_G,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G
0,1992_ALABAMA,ALABAMA,1992,2653798.0,8224.0,55460.0,57948.0,58025.0,41167.0,471564.0,196386.0
1,1992_ALASKA,ALASKA,1992,972488.0,2371.0,10152.0,9748.0,8789.0,6714.0,79117.0,30847.0
2,1992_ARIZONA,ARIZONA,1992,3401580.0,2544.0,53497.0,55433.0,49081.0,37410.0,437127.0,175210.0
3,1992_ARKANSAS,ARKANSAS,1992,1743022.0,808.0,33511.0,34632.0,36011.0,27651.0,281338.0,123113.0
4,1992_CALIFORNIA,CALIFORNIA,1992,27138832.0,59067.0,431763.0,418418.0,363296.0,270675.0,3286034.0,1372011.0

In [170]:
df.STATE.nunique()

80

In [171]:
dfstate_year =df[['PRIMARY_KEY','STATE','TOTAL_EXPENDITURE','YEAR','GRADES_ALL_G']].dropna(axis=0,how='any')

In [172]:
dfstate_year=dfstate_year.drop_duplicates(subset=['PRIMARY_KEY'],keep=False)

In [173]:
dfstate_year['EXP_PER_STUDENT'] = dfstate_year['TOTAL_EXPENDITURE']/dfstate_year['GRADES_ALL_G']
df.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,79117.0,30847.0,112335.0,NaN,NaN,NaN,258.859712
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,3286034.0,1372011.0,4717112.0,208.398961,260.892247,196.764414,NaN

In [174]:
dfstate_year

,PRIMARY_KEY,STATE,TOTAL_EXPENDITURE,YEAR,GRADES_ALL_G,EXP_PER_STUDENT
0,1992_ALABAMA,ALABAMA,2653798.0,1992,676174.0,3.924726
1,1992_ALASKA,ALASKA,972488.0,1992,112335.0,8.657035
2,1992_ARIZONA,ARIZONA,3401580.0,1992,614881.0,5.532095
3,1992_ARKANSAS,ARKANSAS,1743022.0,1992,405259.0,4.301008
4,1992_CALIFORNIA,CALIFORNIA,27138832.0,1992,4717112.0,5.753273
5,1992_COLORADO,COLORADO,3264826.0,1992,562613.0,5.802969
6,1992_CONNECTICUT,CONNECTICUT,3721338.0,1992,436932.0,8.516973
7,1992_DELAWARE,DELAWARE,638784.0,1992,96296.0,6.633547
8,1992_DISTRICT_OF_COLUMBIA,DISTRICT_OF_COLUMBIA,742893.0,1992,70000.0,10.612757
9,1992_FLORIDA,FLORIDA,11305642.0,1992,1819706.0,6.212895
10,1992_GEORGIA,GEORGIA,5535942.0,1992,1106441.0,5.003377
11,1992_HAWAII,HAWAII,1040121.0,1992,151649.0,6.858740
12,1992_IDAHO,IDAHO,886161.0,1992,214345.0,4.134274
13,1992_ILLINOIS,ILLINOIS,9850560.0,1992,1646411.0,5.983050
14,1992_INDIANA,INDIANA,5182754.0,1992,883276.0,5.867650
15,1992_IOWA,IOWA,2795774.0,1992,442752.0,6.314537
16,1992_KANSAS,KANSAS,2234915.0,1992,407494.0,5.484535
17,1992_KENTUCKY,KENTUCKY,2518082.0,1992,597199.0,4.216487
18,1992_LOUISIANA,LOUISIANA,3362853.0,1992,698442.0,4.814792
19,1992_MAINE,MAINE,1228869.0,1992,195882.0,6.273517
20,1992_MARYLAND,MARYLAND,4698374.0,1992,678498.0,6.924669
21,1992_MASSACHUSETTS,MASSACHUSETTS,5245560.0,1992,777050.0,6.750608
22,1992_MICHIGAN,MICHIGAN,10170688.0,1992,1398802.0,7.270999
23,1992_MINNESOTA,MINNESOTA,4981125.0,1992,731758.0,6.807066
24,1992_MISSISSIPPI,MISSISSIPPI,1691990.0,1992,451986.0,3.743457
25,1992_MISSOURI,MISSOURI,4197600.0,1992,785722.0,5.342348
26,1992_MONTANA,MONTANA,781009.0,1992,147127.0,5.308400
27,1992_NEBRASKA,NEBRASKA,1534046.0,1992,260541.0,5.887926
28,1992_NEVADA,NEVADA,1251651.0,1992,204330.0,6.125635
29,1992_NEW_HAMPSHIRE,NEW_HAMPSHIRE,1066647.0,1992,172479.0,6.184214
...,...,...,...,...,...,...
1198,2015_MARYLAND,MARYLAND,13882823.0,2015,814671.0,17.041018
1199,2015_MASSACHUSETTS,MASSACHUSETTS,16972319.0,2015,895431.0,18.954357
1200,2015_MICHIGAN,MICHIGAN,17742903.0,2015,1419183.0,12.502195
1201,2015_MINNESOTA,MINNESOTA,11969872.0,2015,800793.0,14.947523
1202,2015_MISSISSIPPI,MISSISSIPPI,4624539.0,2015,441733.0,10.469082
1203,2015_MISSOURI,MISSOURI,10540353.0,2015,852108.0,12.369738
1204,2015_MONTANA,MONTANA,1804841.0,2015,133817.0,13.487382
1205,2015_NEBRASKA,NEBRASKA,4283846.0,2015,292640.0,14.638621
1206,2015_NEVADA,NEVADA,4183085.0,2015,432192.0,9.678765
1207,2015_NEW_HAMPSHIRE,NEW_HAMPSHIRE,3044720.0,2015,171220.0,17.782502
1208,2015_NEW_JERSEY,NEW_JERSEY,28809725.0,2015,1255517.0,22.946503
1209,2015_NEW_MEXICO,NEW_MEXICO,3846641.0,2015,310998.0,12.368700
1210,2015_NEW_YORK,NEW_YORK,65094591.0,2015,2471847.0,26.334393
1211,2015_NORTH_CAROLINA,NORTH_CAROLINA,14060699.0,2015,1427086.0,9.852734
1212,2015_NORTH_DAKOTA,NORTH_DAKOTA,1804762.0,2015,99715.0,18.099203
1213,2015_OHIO,OHIO,22561728.0,2015,1592488.0,14.167597
1214,2015_OKLAHOMA,OKLAHOMA,6184819.0,2015,637814.0,9.696901
1216,2015_PENNSYLVANIA,PENNSYLVANIA,29690645.0,2015,1596540.0,18.596869
1217,2015_RHODE_ISLAND,RHODE_ISLAND,2326473.0,2015,132117.0,17.609187
1218,2015_SOUTH_CAROLINA,SOUTH_CAROLINA,8783362.0,2015,708144.0,12.403356
1219,2015_SOUTH_DAKOTA,SOUTH_DAKOTA,1464781.0,2015,122701.0,11.937808
1220,2015_TENNESSEE,TENNESSEE,9562527.0,2015,926995.0,10.315619
1221,2015_TEXAS,TEXAS,56255791.0,2015,4924653.0,11.423300
1222,2015_UTAH,UTAH,4537962.0,2015,599577.0,7.568606
1223,2015_VERMONT,VERMONT,1969415.0,2015,82003.0,24.016377
1224,2015_VIRGINIA,VIRGINIA,16113212.0,2015,1192648.0,13.510451
1225,2015_WASHINGTON,WASHINGTON,13630138.0,2015,1007338.0,13.530849
1226,2015_WEST_VIRGINIA,WEST_VIRGINIA,3466981.0,2015,257289.0,13.475046
1227,2015_WISCONSIN,WISCONSIN,11553677.0,2015,809722.0,14.268696
1228,2015_WYOMING,WYOMING,1942406.0,2015,86876.0,22.358373

In [327]:

df4=dfstate_year
df5=df4.set_index('STATE').loc[:,['EXP_PER_STUDENT','YEAR']].groupby('YEAR')['EXP_PER_STUDENT'].nsmallest(5)

df5=df5.to_frame().reset_index()
df5=pd.merge(df5,dfstate_year.loc[:,['YEAR','STATE','GRADES_ALL_G','TOTAL_EXPENDITURE']],how='inner',on=['YEAR','STATE'])
df5

     YEAR           STATE  EXP_PER_STUDENT  GRADES_ALL_G  TOTAL_EXPENDITURE
0    1992            UTAH         3.672777      421474.0          1547980.0
1    1992     MISSISSIPPI         3.743457      451986.0          1691990.0
2    1992         ALABAMA         3.924726      676174.0          2653798.0
3    1992       TENNESSEE         4.051030      773264.0          3132516.0
4    1992           IDAHO         4.134274      214345.0           886161.0
5    1993        OKLAHOMA         2.563009      557515.0          1428916.0
6    1993     MISSISSIPPI         2.577920      452703.0          1167032.0
7    1993        ARKANSAS         3.378269      407329.0          1376067.0
8    1993    SOUTH_DAKOTA         3.703321      130063.0           481665.0
9    1993        KENTUCKY         3.808371      599582.0          2283431.0
10   1994        OKLAHOMA         2.723312      561524.0          1529205.0
11   1994        ARKANSAS         3.534955      409053.0          1445984.0
12   1994        KENTUCKY         3.977386      601538.0          2392549.0
13   1994    SOUTH_DAKOTA         3.989587      131665.0           525289.0
14   1994      NEW_MEXICO         4.154194      294584.0          1223759.0
15   1995            UTAH         4.732547      432184.0          2045331.0
16   1995     MISSISSIPPI         4.809364      449138.0          2160068.0
17   1995         ALABAMA         4.885364      686410.0          3353363.0
18   1995           IDAHO         4.917194      225347.0          1108075.0
19   1995       TENNESSEE         4.926810      803557.0          3958973.0
20   1996            UTAH         4.928614      436374.0          2150719.0
21   1996     MISSISSIPPI         5.061195      448259.0          2268726.0
22   1996         ALABAMA         5.199958      686983.0          3572283.0
23   1996    SOUTH_DAKOTA         5.224588      132033.0           689818.0
24   1996       TENNESSEE         5.249096      816175.0          4284181.0
25   1997            UTAH         4.988890      436726.0          2178778.0
26   1997     MISSISSIPPI         5.162348      449277.0          2319324.0
27   1997    SOUTH_DAKOTA         5.418076      131237.0           711052.0
28   1997        ARKANSAS         5.692138      418032.0          2379496.0
29   1997           IDAHO         5.701552      226904.0          1293705.0
..    ...             ...              ...           ...                ...
90   2010            UTAH         8.050007      537509.0          4326951.0
91   2010           IDAHO         8.239550      254715.0          2098737.0
92   2010         ARIZONA         8.913322      988741.0          8812967.0
93   2010       TENNESSEE         9.618532      910780.0          8760367.0
94   2010        OKLAHOMA         9.854226      605999.0          5971651.0
95   2011           IDAHO         7.600895      257972.0          1960818.0
96   2011            UTAH         7.630617      549879.0          4195916.0
97   2011         ARIZONA         8.647906      995665.0          8610417.0
98   2011        OKLAHOMA         9.237557      611091.0          5644988.0
99   2011       TENNESSEE         9.741864      919890.0          8961443.0
100  2012           IDAHO         7.284771      262425.0          1911706.0
101  2012            UTAH         7.693035      562901.0          4330417.0
102  2012         ARIZONA         8.031211     1002920.0          8054662.0
103  2012        OKLAHOMA         9.076152      616436.0          5594867.0
104  2012  NORTH_CAROLINA         9.604520     1397076.0         13418244.0
105  2013           IDAHO         7.205493      273080.0          1967676.0
106  2013         ARIZONA         7.481424     1015927.0          7600581.0
107  2013            UTAH         7.972219      575075.0          4584624.0
108  2013        OKLAHOMA         9.275424      624979.0          5796945.0
109  2013  NORTH_CAROLINA         9.690523     1408648.0         13650536.0
110  2014            UTAH         7.475076      586736.0          4385896.0
111  2014           IDAHO         7.477634      269183.0          2012852.0
112  2014         ARIZONA         7.886938     1028214.0          8109460.0
113  2014  NORTH_CAROLINA         9.484937     1427601.0         13540706.0
114  2014          NEVADA         9.530298      424312.0          4043820.0
115  2015           IDAHO         7.483398      271203.0          2029520.0
116  2015            UTAH         7.568606      599577.0          4537962.0
117  2015         ARIZONA         7.676377     1029470.0          7902600.0
118  2015          NEVADA         9.678765      432192.0          4183085.0
119  2015        OKLAHOMA         9.696901      637814.0          6184819.0

[120 rows x 5 columns]

In [328]:
# libraries
import matplotlib.pyplot as plt
import numpy as np
my_dpi=96


import pandas as pd

In [341]:
# And I need to transform my categorical column (continent) in a numerical value group1->1, group2->2...
df5['STATE']=pd.Categorical(df5['STATE'])

df5['STATE'].head()

0           UTAH
1    MISSISSIPPI
2        ALABAMA
3      TENNESSEE
4          IDAHO
Name: STATE, dtype: category
Categories (13, object): [ALABAMA, ARIZONA, ARKANSAS, IDAHO, ..., OKLAHOMA, SOUTH_DAKOTA, TENNESSEE, UTAH]

In [340]:
#For each year:
% matplotlib notebook

from matplotlib import animation
import matplotlib
from matplotlib import cm   #color maps
import matplotlib.gridspec as gridspec
tmp=df5
def update(curr):
        
 #initialize a figure
        #for animation
        if curr == len(df5.YEAR.unique()): 
            a.event_source.stop()  #for animation to stop
        ax.cla() #to clear old data / stop aggregating data
        bx.cla()
       
        
        #color map
        cmap = plt.cm.Reds
       
        
        #values for colors normalizing 0-10
        nor = matplotlib.colors.Normalize(vmin=tmp[tmp['YEAR']==df5.YEAR.unique()[curr]].sort_values('EXP_PER_STUDENT')['STATE'].
                                          cat.codes.min()
                                            , vmax=tmp[tmp['YEAR']==df5.YEAR.unique()[curr]].sort_values('EXP_PER_STUDENT')
                                          ['STATE'].cat.codes.max())
        
        
        
        for a,b,d,e in zip(tmp[tmp['YEAR']==df5.YEAR.unique()[curr]].sort_values('EXP_PER_STUDENT')['EXP_PER_STUDENT'].values,
                       tmp[tmp['YEAR']==df5.YEAR.unique()[curr]].sort_values('EXP_PER_STUDENT')['TOTAL_EXPENDITURE'].values,
                               
                                  tmp[tmp['YEAR']==df5.YEAR.unique()[curr]].sort_values('EXP_PER_STUDENT')['STATE'].cat.codes.values,
                                 (tmp[tmp['YEAR']==df5.YEAR.unique()[curr]].sort_values('EXP_PER_STUDENT')['GRADES_ALL_G']/2000).values):
               
                #scatter plot
                ax.scatter(a,b,s=e,c=cmap(nor(d)), alpha=0.6,edgecolors="white")
                
         # label     
        ax.set_title("Year: "+str(df5.YEAR.unique()[curr]) )
        ax.set_xlabel("Expenditure Per Student")
        ax.set_ylabel("Total Expenditure")

                    
        for c,d,e in zip( tmp[tmp['YEAR']==df5.YEAR.unique()[curr]].sort_values('EXP_PER_STUDENT').sort_values('GRADES_ALL_G')['STATE'].values,
                                  tmp[tmp['YEAR']==df5.YEAR.unique()[curr]].sort_values('GRADES_ALL_G')['STATE'].cat.codes.values,
                                    (tmp[tmp['YEAR']==df5.YEAR.unique()[curr]].sort_values('GRADES_ALL_G')['GRADES_ALL_G']/2000).values):
            
            
                bx.scatter([],[],s=e,c=cmap(nor(d)),label=c, alpha=0.6,edgecolors="white")
        bx.legend(title= 'States',   labelspacing = 3)
       
        bx.axis('off')
      

fig=plt.figure(figsize=(10, 6) )



gspec = gridspec.GridSpec(1, 3)
ax=plt.subplot(gspec[:2])
bx=plt.subplot(gspec[2])
a = animation.FuncAnimation(fig, update, interval=1000)

In [343]:
#test to see normalizing

#import matplotlib
#nor = matplotlib.colors.Normalize(vmin=tmp[tmp['YEAR']==df5.YEAR.unique()[0]].sort_values('EXP_PER_STUDENT')['STATE'].cat.codes.min()
                                          # , vmax=tmp[tmp['YEAR']==df5.YEAR.unique()[0]].sort_values('EXP_PER_STUDENT')['STATE'].cat.codes.max())

#cmap = plt.cm.Reds
#cmap(nor(tmp[tmp['YEAR']==df5.YEAR.unique()[0]].sort_values('EXP_PER_STUDENT')['STATE'].cat.codes.max()))